input[type="text"]{
    border: 2px solid red;
}
input[type="password"]{
    border: 3px solid green;
}

ul > li{
    color:blue;
}

h1+p{
    font-size:30px;
    color:green;
}

a:hover{
    color:red;
}

li:nth-child(3){
    background-color: yellow;
}

div:not(.div1){
    border: 2px dashed red;
}

.demo::after{
    content:inherit;
    color:blue;
}

p::first-letter{
    color:orange;
    font-size: 30px;
}