/*ADVANCE SELECTOR*/

/*Attribute selector - this is comments*/
input[type="text"]{
    border:2px solid red;
}
input[type="password"]{
    border:2px dashed green;
}
/*child selector*/
ul>li{
    color:blue;
}
/*sibling selector*/
h1+p+p{
    background-color: green;
}

/*PSEUDO CLASSES*/
/*hover*/
a:hover{
    color:rgb(226, 43, 43);
}
/*nth-child*/
li:nth-child(2){
    background-color: brown;
}
/*not-selector*/
div:not(.c1){
    font-size:30px;
}

/*PSEUDO ELEMENTS*/
a::after{
    content:"%";
    COLOR:rgb(255, 98, 0);
}
a::before{
    content:"&";
    color:rgb(238, 71, 224);
}
div::first-letter{
    color:orange;
    font-size: 40px;
}
